{:paths ["src"]

 :deps {coast-framework/helper {:mvn/version "1.0.0"}
        coast-framework/env {:mvn/version "1.0.3"}
        coast-framework/time {:mvn/version "1.0.0"}
        org.slf4j/slf4j-nop {:mvn/version "1.7.25"}
        com.zaxxer/HikariCP {:mvn/version "2.7.8"}
        org.clojure/java.jdbc {:mvn/version "0.7.9"}}

 :aliases {:repl {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

           :test {:extra-paths ["test"]
                  :main-opts ["-m" "cognitect.test-runner"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}
                               org.xerial/sqlite-jdbc {:mvn/version "3.25.2"}}}

           :watch {:extra-paths ["bin"]
                   :main-opts ["-m" "watch"]
                   :extra-deps {clojure-watch {:mvn/version "0.1.14"}}}}}
