{:paths ["src"]

 :deps {coast-framework/helper {:git/url "https://github.com/coast-framework/helper"
                                :sha "04109855b5d7a7725c84a55eee4c18b6f9281cfa"}
        coast-framework/env {:git/url "https://github.com/coast-framework/env"
                             :sha "552785ddaa43ba3652a62df70576423890e50d63"}
        coast-framework/time {:git/url "https://github.com/coast-framework/time"
                              :sha "089743d3dac38385bc1e189e394cd171be8a6832"}
        org.slf4j/slf4j-nop {:mvn/version "1.7.25"}
        com.zaxxer/HikariCP {:mvn/version "2.7.8"}
        org.clojure/java.jdbc {:mvn/version "0.7.8"}}

 :aliases {:repl {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

           :test {:extra-paths ["test"]
                  :main-opts ["-m" "cognitect.test-runner"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "5f2b5c2efb444df76fb5252102b33f542ebf7f58"}
                               org.xerial/sqlite-jdbc {:mvn/version "3.25.2"}}}

           :watch {:extra-paths ["bin"]
                   :main-opts ["-m" "watch"]
                   :extra-deps {clojure-watch {:mvn/version "0.1.14"}}}}}
